/* Add this to your styles.css file */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 15px 25px;
    font-size: 24px;
    font-weight: bold;
    color: #004B87;
  }
  
  .logo {
    height: 20px;
    width: auto;
  }
  
  #map {
    height: calc(100vh - 80px);
    width: 100%;
  }
  
  button {
    background-color: #0088cc;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    margin: 5px;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .gmap-legend {
    background-color: white;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  

  .features-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  
  .feature-card {
    flex-basis: 33.33%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 100%;
  }
  
  .feature-icon {
    width: 35px;
    margin-bottom: 20px;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  @media only screen and (max-width: 768px) {
    .feature-card {
      flex-basis: 100%;
      margin-bottom: 20px;
    }
  }
  
  
  
  